# LaTeX build files
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm

# Editor/OS clutter
.DS_Store
*.swp

/.lake/
/.vscode/
/build/
*.olean
*.trace
*.hash
.DS_Store

# build artifacts
formalisation.zip
