---
---
<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/hyperlocal/assets/css/style.css">

  <!-- KaTeX support -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" xintegrity="sha384-wcIxkf4k558goNHmbUBqkOFkaK40XvpfnfoqrFUbIOBUStlCcoIQGHY7OCiY3U49" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js" xintegrity="sha384-hIoBPJpTadx5MyA2RT5I+_gA4JLBUsvMijpRnZBPlfnV/YI4wLVRGmyDGgLFwAbs" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js" xintegrity="sha384-43gviWU0YVjaDtb/GtitreqcNFeFlNBAUQrbtAleEhIcv9IL
goi1lFAhZflsFl_p" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
  <!-- End KaTeX support -->

</head>
<body>
  <div class="container">
    <h1>{{ page.title }}</h1>
    <p>By {{ page.author }}</p>
    <hr>

    <div class="post-content">
      {{ content }}
    </div>

  </div>
</body>
</html>

